# تجاهل مجلدات النماذج والتجارب الثقيلة
models/
experiments/
.mlflow/

# تجاهل ملفات Gradio المؤقتة
.gradio/

# تجاهل البيئات الافتراضية وملفات الكاش (Python)
pycache/
*.pyc
venv/
.env

# تجاهل قواعد بيانات SQLite إن وجدت
*.db
